<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Relative Difference in Contrast Heatmap</Name><AddInID>{62770293-b304-4318-aad2-4abd11b55807}</AddInID><Description>Highlight cells with significant change based on relative difference in contrast between two overlapping rasters. Find outlier cells in a single raster. Heatmap is colored based on 1,2,3 standard deviations away from the mean.</Description><Version>0.2</Version><Image>Images\heatmap-65.png</Image><Author>ansonl</Author><Company>Anson Liu</Company><Date>01/11/2020</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="change_finder_addin.py" namespace="change_finder_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Index Method" category="Relative Difference in Contrast Heatmap" class="IndexMethodComboBox" id="change_finder_addin.index_method_combobox" itemSizeString="WWWWWW" message="Select an index method apply to rasters before calculating r.d.c." rows="4" sizeString="WWWWWW" tip="Index method to apply for analysis"><Help heading="" /></ComboBox>
        <ComboBox caption="Imagelet Size" category="Relative Difference in Contrast Heatmap" class="ImageletSizeComboBox" id="change_finder_addin.imaglet_size_combobox" itemSizeString="WWWWWW" message="Select 0 to not split up user defined extent into imagelets.\n Select or Type an imagelet square side length to break up user defined area for highlighting significant r.d.c. on localized square areas." rows="4" sizeString="WWWWWW" tip="Imagelet Size for localized area analysis"><Help heading="" /></ComboBox>
        <ComboBox caption="Analyze single raster" category="Relative Difference in Contrast Heatmap" class="SingleRasterComboBox" id="change_finder_addin.single_raster_combobox" itemSizeString="WWWWWW" message="Use Raster 1 for calculations and ignore Raster 2" rows="4" sizeString="WWWWWW" tip="Analyze only Raster 1"><Help heading="" hintText="NO"/></ComboBox>
        <Button caption="Select Raster 1" category="Relative Difference in Contrast Heatmap" class="SelectRaster1Button" id="change_finder_addin.select_raster_1_button" image="Images\raster1-16.png" message="Select Raster 1 for relative difference in contrast calculation" tip="Select Raster 1 for change detection"><Help heading="" /></Button>
        <Button caption="Select Raster 2" category="Relative Difference in Contrast Heatmap" class="SelectRaster2Button" id="change_finder_addin.select_raster_2_button" image="Images\raster2-16.png" message="Select Raster 2 for relative difference in contrast calculation" tip="Select Raster 2 for change detection"><Help heading="" /></Button>
        <Tool caption="Define extent and create heatmap" category="Relative Difference in Contrast Heatmap" class="SelectAreaTool" id="change_finder_addin.select_area_tool" image="Images\analyze-16.png" message="Select a rectangular area to apply index method to and highlight cells with significant relative difference in contrast based on 1,2,3 standard deviations from mean. " tip="Highlight Significant Relative Difference in Contrast (r.d.c.)"><Help heading="" /></Tool>
        <Button caption="Remove Background" category="Relative Difference in Contrast Heatmap" class="Reclassify0BackgroundAsNODATAButton" id="change_finder_addin.remove_background_button" image="Images\background-16.png" message="Replace 0 value background cells of a raster with NODATA value" tip="Remove 0 value background cells"><Help heading="" /></Button>
        <Button caption="About" category="Relative Difference in Contrast Heatmap" class="AboutButton" id="change_finder_addin.about_button" image="Images\about-16.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="RDC Heatmap" category="Relative Difference in Contrast Highlighter" id="change_finder_addin.main_toolbar" showInitially="true"><Items><ComboBox refID="change_finder_addin.index_method_combobox" /><ComboBox refID="change_finder_addin.imaglet_size_combobox" /><ComboBox refID="change_finder_addin.single_raster_combobox" /><Button refID="change_finder_addin.select_raster_1_button" /><Button refID="change_finder_addin.select_raster_2_button" /><Tool refID="change_finder_addin.select_area_tool" /><Button refID="change_finder_addin.remove_background_button" /><Button refID="change_finder_addin.about_button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>